.grow{
    transition: all .2s ease-in-out;
}

.grow:hover{
    transform: scale(1.1);
}

.grow-moon{
    transition: all .2s ease-in-out;
}

.grow-moon:hover{
    transform: scale(1.15);
}

.active {
    span {
        border-bottom:3px solid #1EB6FF;    
    }
    span:hover{
        border:none;
    }
}

// Fade in section animations
.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.readmore-link{
    color: #44bce3;
    transition: all .2s ease-in-out;
}
.readmore-link:hover{
    // transform: scale(1.02);
    color: darken(#44bce3, 10%);
    // box-shadow: 0 0 20px 0 rgba(0,0,0,0.04), 0 20px 31px 0 rgba(0,0,0,0.16);
}

.card-link{
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
.card-link:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.04), 0 20px 31px 0 rgba(235, 42, 42, 0.16);
}

.react-rotating-text-cursor {
    animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) infinite;
  }
  
  @keyframes blinking-cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

// experiment
