button {
  border: 0;
  padding: 0;
  text-transform: none;
  background: transparent;
}

.button-style {
  background: #35CB73;
  border: none;
  border-radius: .2em;
  color: #FFFFFF; 
  cursor: pointer; 
  font-size: 1.3em;
  margin: .4em .8em .4em 0;
  padding: .45em .8em .4em;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button-style:hover{
  background: darken($color: #35CB73, $amount: 10%)
}

.bmc-button {
  img {
    height: 34px !important;
    width: 35px !important;
    margin-bottom: 1px !important;
    box-shadow: none !important;
    border: none !important;
    vertical-align: middle !important;
  }
  
  padding: 7px 10px 7px 10px !important;
  line-height: 35px !important;
  height:51px !important;
  min-width:217px !important;
  text-decoration: none !important;
  display:inline-flex !important;
  color:#ffffff !important;
  background-color:#FF813F !important;
  border-radius: 5px !important;
  border: 1px solid transparent !important;
  padding: 7px 10px 7px 10px !important;
  font-size: 20px !important;
  letter-spacing:-0.08px !important;
  margin: 0 auto !important;
  font-family:'Karla', sans-serif !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -o-transition: 0.3s all linear !important;
  -webkit-transition: 0.3s all linear !important;
  -moz-transition: 0.3s all linear !important;
  -ms-transition: 0.3s all linear !important;
  transition: 0.3s all linear !important;
}

.bmc-button:hover, 
.bmc-button:active, 
.bmc-button:focus {
  text-decoration: none !important;
  opacity: 0.85 !important;
  color:#ffffff !important;
}

.darkModeToggleButton{
  border: 0;
  background-color:transparent;
}