.button {
  background-color: #3A80FE;
  border-radius: 6px;
  border: none;
  color: white;
  height: 40px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  transition: all 0.4s ease;
  &:hover {
    background-color: rgba(rebeccapurple, 0.9);
  }
}

.clear-button {
  background: #FD3D37;
  border-radius: 10px;
  border: none;
  color: white;
  height: 40px;
  width: 100px;
  margin: 1rem;
  margin-right: 0;
  font-family: 'Karla';
  font-size: 20px;
  transition: all 0.4s ease;
  &:hover {
    background-color: darken(#FD3D37, 20%);
  }
}

.submit-button {
  background: #36CB74;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: white;

  height: 40px;
  width: 100px;
  margin: 1rem;
  margin-left: 0;
  font-family: 'Karla';
  font-size: 20px;
  font-weight: 700;
  transition: all 0.4s ease;
  &:hover {
    background-color: darken(#36CB74, 20%);
  }
}

.bmc-button {
  img {
    height: 34px !important;
    width: 35px !important;
    margin-bottom: 1px !important;
    box-shadow: none !important;
    border: none !important;
    vertical-align: middle !important;
  }
  
  padding: 7px 10px 7px 10px !important;
  line-height: 35px !important;
  height:51px !important;
  min-width:217px !important;
  text-decoration: none !important;
  display:inline-flex !important;
  color:#ffffff !important;
  background-color:#FF813F !important;
  border-radius: 5px !important;
  border: 1px solid transparent !important;
  padding: 7px 10px 7px 10px !important;
  font-size: 20px !important;
  letter-spacing:-0.08px !important;
  margin: 0 auto !important;
  font-family:'Karla', sans-serif !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -o-transition: 0.3s all linear !important;
  -webkit-transition: 0.3s all linear !important;
  -moz-transition: 0.3s all linear !important;
  -ms-transition: 0.3s all linear !important;
  transition: 0.3s all linear !important;
}

.bmc-button:hover, 
.bmc-button:active, 
.bmc-button:focus {
  text-decoration: none !important;
  opacity: 0.85 !important;
  color:#ffffff !important;
}

.darkModeToggleButton{
  border: 0;
  background-color:transparent;
}