.content-card {
    margin: 5%;
    padding: 3%;
    margin-bottom: 0px;
    border-radius: 4px;
}

.home-page-img{
    height:24vh;
}

// .card-heading{
// }

// .card-date{
// }

// .card-body{
// }