.content-card {
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.post-tags { 
    background: #FCB233;
    border: none;
    border-radius: .2em;
    color: #FFFFFF; 
    cursor: pointer;
    font-size: 1em;
    margin: .4em .8em .4em 0;
    padding: .4em .4em .4em .4em;

    font-weight: 600;
    display: inline-block;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
}

.post-tags:hover {
    background: darken(#FCB233, 10%);
}

.tag-list {
    color: #2CA4A4;
}

body.dark-mode{
    // .link{
    //     color: #1EB6FF;
    //     transition: all .2s ease-in-out;
    // }

    .tag-list {
        color: #1EB6FF;
    }

    .link:hover{
        color: #3CF0B9;
    }
}

// .card-heading{
// }

// .card-date{
// }

// .card-body{
// }

// 

.skill-link{
    background: rgb(53, 203, 115);
    border: none;
    border-radius: .2em;
    color: #FFFFFF; 
    cursor: pointer; 
    float: left;
    font-size: 1.3em;
    margin: .4em .8em .4em 0;
    padding: .45em .8em .4em;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.skill-link:hover{
    background: darken($color: rgb(53, 203, 115), $amount: 10%)
}

// Tooltip function
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}