.content-card {
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.post-tags { 
    border-radius: 5px;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: 600;
    display: inline-block;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
}

.post-tags:hover {
    color: darken(#FFFFFF, 5%);
}

body.dark-mode{
    .post-tags{
        border-radius: 5px;
        padding: 4px;
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 3px;
        margin-bottom: 3px;
        font-weight: 600;
        display: inline-block;
        color: white;
    }

    .post-tags:hover{
        color: darken($color: #FFFFFF, $amount: 10%)
    }
}

// .link { 
//     color: #2CA4A4;
//     transition: all .2s ease-in-out;
// }

// .link:hover {
//     color: darken(#2CA4A4, 5%);
// }

.tag-list {
    color: #2CA4A4;
}

body.dark-mode{
    // .link{
    //     color: #1EB6FF;
    //     transition: all .2s ease-in-out;
    // }

    .tag-list {
        color: #1EB6FF;
    }

    .link:hover{
        color: #3CF0B9;
    }
}

// .card-heading{
// }

// .card-date{
// }

// .card-body{
// }