
@import 'layout';
@import 'images';
@import 'typography';
@import 'button';
@import 'posts';
@import 'projects';
@import 'navigation';
@import 'vars';
@import 'animations';
@import 'components';
@import 'article';
@import 'spacing';
@import 'hamburgers';

// Remove margin from everythin
* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: white;
}

body.dark-mode {
  background-color: #17171D;
}