
@import 'layout';
@import 'images';
@import 'typography';
@import 'button';
@import 'posts';
@import 'projects';
@import 'navigation';
@import 'vars';
@import 'forms';
@import 'sidebar';
@import 'animations';

// Remove margin from everythin
* {
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: white;
}

body.dark-mode {
  background-color: #17171D;
}