// removing auto margin and padding on image type component
img {
    margin: 0;
    padding: 0;
}

// Facebook Social Icon onHover Toggle 
.facebookIcon {
    height: 15%;
    width: 15%;
    margin: 10px;
    padding: 0;
    margin-bottom: 100px;
    background: url("../images/icons/socialMediaIcons/facebook-grayscale.svg") no-repeat;
    background-size: 100%;
    transition: all .2s ease-in-out;
}
.facebookIcon:hover {
    background: url("../images/icons/socialMediaIcons/facebook-color.svg") no-repeat;
    background-size: 100%;
    transform: scale(1.1);
}

// Facebook Social Icon onHover Toggle 
.githubIcon {
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-left: 0px;
    padding: 0px;
    background: url("../images/icons/socialMediaIcons/github-grayscale.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.githubIcon:hover {
    background: url("../images/icons/socialMediaIcons/github-color.svg") no-repeat;
    background-size: 100%;
    transform: scale(1.1);
}

.githubIcon-dark-mode {
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-left: 0px;
    padding: 0px;
    background: url("../images/icons/socialMediaIcons/github-grayscale-dark-mode.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.githubIcon-dark-mode:hover {
    transform: scale(1.1);
}

// Facebook Social Icon onHover Toggle 
.linkedinIcon {
    height: 50px;
    width: 50px;
    margin: 10px;
    padding: 0;
    background: url("../images/icons/socialMediaIcons/linkedin-grayscale.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.linkedinIcon:hover {
    background: url("../images/icons/socialMediaIcons/linkedin-color.svg") no-repeat;
    background-size: 100%;
    transform: scale(1.1);
}

.linkedinIcon-dark-mode {
    height: 50px;
    width: 50px;
    margin: 10px;
    padding: 0;
    background: url("../images/icons/socialMediaIcons/linkedin-grayscale-dark-mode.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.linkedinIcon-dark-mode:hover {
    transform: scale(1.1);
}

.mediumIcon {
    height: 50px;
    width: 50px;
    margin: 10px;
    padding: 0;
    background: url("../images/icons/socialMediaIcons/medium-grayscale.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.mediumIcon:hover {
    background: url("../images/icons/socialMediaIcons/medium-color.svg") no-repeat;
    background-size: 100%;
    transform: scale(1.1);
}

.mediumIcon-dark-mode {
    height: 50px;
    width: 50px;
    margin: 10px;
    padding: 0;
    background: url("../images/icons/socialMediaIcons/medium-grayscale-dark-mode.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.mediumIcon-dark-mode:hover {
    transform: scale(1.1);
}

// Facebook Social Icon onHover Toggle 
.spotifyIcon {
    height: 50px;
    width: 50px;
    margin: 10px;
    padding: 0;
    background: url("../images/icons/socialMediaIcons/spotify-grayscale.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.spotifyIcon:hover {
    background: url("../images/icons/socialMediaIcons/spotify-color.svg") no-repeat;
    background-size: 100%;
    transform: scale(1.1);
}

.spotifyIcon-dark-mode {
    height: 50px;
    width: 50px;
    margin: 10px;
    padding: 0;
    background: url("../images/icons/socialMediaIcons/spotify-grayscale-dark-mode.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.spotifyIcon-dark-mode:hover {
    transform: scale(1.1);
}

// Facebook Social Icon onHover Toggle 
.twitterIcon {
    height: 40px;
    width: 40px;
    margin: 10px;
    padding: 0;
    background: url("../images/icons/socialMediaIcons/twitter-grayscale.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.twitterIcon:hover {
    background: url("../images/icons/socialMediaIcons/twitter-color.svg") no-repeat;
    background-size: 100%;
    transform: scale(1.1);
}

.sunIcon {
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    background: url("../images/icons/sun-icon.svg") no-repeat;
    background-size: 100%;
    border: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.sunIcon:hover {
    transform: scale(1.1);
}
.sunIcon:focus {
    outline:0 !important;
}

.moonIcon {
    height: 20px;
    width: 20px;
    margin: 0px;
    padding: 0px;
    background: url("../images/icons/moon-icon.svg") no-repeat;
    background-size: 100%;
    border: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.moonIcon:hover {
    transform: scale(1.1);
}
.moonIcon:focus {
    outline:0 !important;
}

.nav-closed-icon {
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    background: url("../images/icons/burger-menu.svg") no-repeat;
    background-size: 100%;
    border: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.nav-closed-icon:focus{
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    outline: none;
    background-size: 100%;
    border: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.nav-closed-icon:hover{
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    background: url("../images/icons/burger-menu-on-hover.svg") no-repeat;
    background-size: 100%;
    border: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.nav-open-icon {
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    background: url("../images/icons/burger-menu-open.svg") no-repeat;
    background-size: 100%;
    border: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.nav-open-icon:hover {
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    background: url("../images/icons/burger-menu-open-on-hover.svg") no-repeat;
    background-size: 100%;
    border: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.nav-open-icon:focus{
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    outline: none;
    background-size: 100%;
    border: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}