// removing auto margin and padding on image type component
img {
    margin: 0;
    padding: 0;
}

.githubIcon {
    height: 40px;
    width: 40px;
    margin: 10px;
    margin-left: 0px;
    padding: 0px;
    background: url("../images/icons/newSocialMediaIcons/Github-grayscale-colored.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.githubIcon:hover {
    background: url("../images/icons/newSocialMediaIcons/Github-colored.svg") no-repeat;
    background-size: 100%;
    transform: scale(1.1);
}

.githubIcon-dark-mode {
    height: 40px;
    width: 40px;
    margin: 10px;
    margin-left: 0px;
    padding: 0px;
    background: url("../images/icons/newSocialMediaIcons/Github-grayscale-colored-dark-mode.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.githubIcon-dark-mode:hover {
    transform: scale(1.1);
}

// Facebook Social Icon onHover Toggle 
.linkedinIcon {
    height: 40px;
    width: 40px;
    margin: 10px;
    padding: 0;
    background: url("../images/icons/newSocialMediaIcons/linkedin-grayscale-colored.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.linkedinIcon:hover {
    background: url("../images/icons/newSocialMediaIcons/LinkedIn-colored.svg") no-repeat;
    background-size: 100%;
    transform: scale(1.1);
}

.linkedinIcon-dark-mode {
    height: 40px;
    width: 40px;
    margin: 10px;
    padding: 0;
    background: url("../images/icons/newSocialMediaIcons/linkedin-grayscale-dark-mode-colored.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.linkedinIcon-dark-mode:hover {
    background: url("../images/icons/newSocialMediaIcons/LinkedIn-colored.svg") no-repeat;
    background-size: 100%;
    transform: scale(1.1);
}

.mediumIcon {
    height: 40px;
    width: 40px;
    margin: 10px;
    padding: 0;
    background: url("../images/icons/socialMediaIcons/medium-grayscale.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.mediumIcon:hover {
    background: url("../images/icons/socialMediaIcons/medium-color.svg") no-repeat;
    background-size: 100%;
    transform: scale(1.1);
}

.mediumIcon-dark-mode {
    height: 40px;
    width: 40px;
    margin: 10px;
    padding: 0;
    background: url("../images/icons/socialMediaIcons/medium-grayscale-dark-mode.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.mediumIcon-dark-mode:hover {
    transform: scale(1.1);
}

//////////////////////////////////////////////////////////////////////////////////////////////// 
.youtubeIcon {
    height: 40px;
    width: 40px;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    background: url("../images/icons/newSocialMediaIcons/Youtube-grayscale-colored.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.youtubeIcon:hover {
    background: url("../images/icons/newSocialMediaIcons/Youtube-colored.svg") no-repeat;
    background-size: 100%;
    transform: scale(1.1);
}

.youtubeIcon-dark-mode {
    height: 40px;
    width: 40px;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    background: url("../images/icons/newSocialMediaIcons/Youtube-grayscale-colored-dark-mode.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.youtubeIcon-dark-mode:hover {
    background: url("../images/icons/newSocialMediaIcons/Youtube-colored.svg") no-repeat;
    background-size: 100%;
    transform: scale(1.1);
}
////////////////////////////////////////////////////////////////////////////////////////////////
.spotifyIcon {
    height: 40px;
    width: 40px;
    margin: 10px;
    padding: 0;
    background: url("../images/icons/newSocialMediaIcons/Spotify-grayscale-colored.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.spotifyIcon:hover {
    background: url("../images/icons/newSocialMediaIcons/Spotify-colored.svg") no-repeat;
    background-size: 100%;
    transform: scale(1.1);
}

.spotifyIcon-dark-mode {
    height: 40px;
    width: 40px;
    margin: 10px;
    padding: 0;
    background: url("../images/icons/newSocialMediaIcons/Spotify-grayscale-dark-mode.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.spotifyIcon-dark-mode:hover {
    background: url("../images/icons/newSocialMediaIcons/Spotify-colored.svg") no-repeat;
    background-size: 100%;
    transform: scale(1.1);
}

.sunIcon {
    margin: 0px;
    padding: 0px;
    background-size: 100%;
    border: none;
    font-size: 22px;
    display: inline-block;
    transition: all .2s ease-in-out;
    background-color: transparent;
}
.sunIcon:hover {
    transform: scale(1.1);
}
.sunIcon:focus {
    outline:0 !important;
}

.moonIcon {
    margin: 0px;
    padding: 0px;
    background-size: 100%;
    border: none;
    font-size: 22px;
    display: inline-block;
    transition: all .2s ease-in-out;
    background-color: transparent;
}
.moonIcon:hover {
    transform: scale(1.1);
}
.moonIcon:focus {
    outline:0 !important;
}

.nav-closed-icon {
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    background: url("../images/icons/burger-menu.svg") no-repeat;
    background-size: 100%;
    border: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.nav-closed-icon:focus{
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    outline: none;
    background-size: 100%;
    border: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.nav-closed-icon:hover{
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    background: url("../images/icons/burger-menu-on-hover.svg") no-repeat;
    background-size: 100%;
    border: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.nav-open-icon {
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    background: url("../images/icons/burger-menu-open.svg") no-repeat;
    background-size: 100%;
    border: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.nav-open-icon:hover {
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    background: url("../images/icons/burger-menu-open-on-hover.svg") no-repeat;
    background-size: 100%;
    border: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.nav-open-icon:focus{
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    outline: none;
    background-size: 100%;
    border: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.skill-icon-height {
    height: 30px;
}