// removing auto margin and padding on image type component
img {
    margin: 0;
    padding: 0;
}

.socialIcon {
    height: 20px;
    width: 20px;
    margin: 10px;
    padding: 0px;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.socialIcon:hover {
    background-size: 100%;
    transform: scale(1.1);
}

////////////////////////////////////////////////////////////////////////////////////////////////
.spotifyIcon {
    height: 20px;
    width: 20px;
    margin: 10px;
    padding: 0;
    background-size: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.spotifyIcon:hover {
    background-size: 100%;
    transform: scale(1.1);
}

.spotifyIcon-dark-mode:hover {
    background-size: 100%;
    transform: scale(1.1);
}

.sunIcon {
    margin: 0px;
    padding: 0px;
    background-size: 100%;
    border: none;
    font-size: 22px;
    display: inline-block;
    transition: all .2s ease-in-out;
    background-color: transparent;
}
.sunIcon:hover {
    transform: scale(1.1);
}
.sunIcon:focus {
    outline:0 !important;
}

.moonIcon {
    margin: 0px;
    padding: 0px;
    background-size: 100%;
    border: none;
    font-size: 22px;
    display: inline-block;
    transition: all .2s ease-in-out;
    background-color: transparent;
}
.moonIcon:hover {
    transform: scale(1.1);
}
.moonIcon:focus {
    outline:0 !important;
}

.nav-closed-icon {
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    background: url("../images/icons/burger-menu.svg") no-repeat;
    background-size: 100%;
    border: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.nav-closed-icon:focus{
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    outline: none;
    background-size: 100%;
    border: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.nav-closed-icon:hover{
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    background: url("../images/icons/burger-menu-on-hover.svg") no-repeat;
    background-size: 100%;
    border: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.nav-open-icon {
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    background: url("../images/icons/burger-menu-open.svg") no-repeat;
    background-size: 100%;
    border: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.nav-open-icon:hover {
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    background: url("../images/icons/burger-menu-open-on-hover.svg") no-repeat;
    background-size: 100%;
    border: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.nav-open-icon:focus{
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    outline: none;
    background-size: 100%;
    border: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.skill-icon-height {
    height: 30px;
}