$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__cols: 12;

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

$map-grid-props: (
    '': 0,
    '-sm': $grid__bp-sm,
    '-md': $grid__bp-md,
    '-lg': $grid__bp-lg,
    '-xl': $grid__bp-xl
);

@mixin create-mq($breakpoint, $min-or-max) {
    @if($breakpoint == 0) {
        @content;
    } @else {
            @media screen and (#{$min-or-max}-width: $breakpoint *1px) {
            @content;
        }
    }
}

@mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
    @include create-mq($breakpoint, 'min') {
        &__col#{$modifier}-offset-0 {
        margin-left: 0;
        }
        @for $i from 1 through $grid-cols {
            &__col#{$modifier}-#{$i} {
                flex-basis: (100 / ($grid-cols / $i) ) * 1%;
            }
            &__col#{$modifier}-offset-#{$i} {
                margin-left: (100 / ($grid-cols / $i) ) * 1%;
            }
        }
    }
}

@each $modifier , $breakpoint in $map-grid-props {
    @if($modifier == '') {
        $modifier: '-xs';
    }
    @include create-mq($breakpoint - 1, 'max') {
        .hidden#{$modifier}-down {
        display: none !important;
        }
    }
    @include create-mq($breakpoint, 'min') {
        .hidden#{$modifier}-up {
        display: none !important;
        }
    }
}

.container {
    max-width: $grid__bp-lg * 1px; // used to be md here - might have to change back
    margin: 0 auto;
    &--fluid {
        margin: 0;
        max-width: 100%;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    @each $modifier , $breakpoint in $map-grid-props {
        @include create-col-classes($modifier, $grid__cols, $breakpoint);
    }
}

.page-wrap {
    min-height: 100vh;
    /* equal to footer height */
    margin-bottom: -80px;
}
  
.footer {
    text-align: center;
    bottom: 0px; 
    height: 80px;
    width: 100vw;
    position: relative;
}

.hero-section {
    width: 100vw;
}

.page-wrapper {
    overflow-y: scroll;
    height: 100vh; 
}

.absolute-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

$sizes: 12;

@mixin margin-classes {
  @for $i from 0 through $sizes {
     $margin: $i * 1%;
    /* margin #{$margin} */
    .margin-#{$i}  {margin: $margin;}
    .margin-left-#{$i} {margin-left: $margin;}
    .margin-right-#{$i} {margin-right: $margin;}
    .margin-top-#{$i} {margin-top: $margin;}
    .margin-bottom-#{$i} {margin-bottom: $margin;}
    .margin-left-right-#{$i} {margin-left: $margin; margin-right: $margin;}
    .margin-top-bottom-#{$i} {margin-top: $margin; margin-bottom: $margin;}
  }
}
@include margin-classes;

@mixin padding-classes {
  @for $i from 0 through $sizes {
    $padding: $i * 1%;
    /* padding #{$padding} */
    .padding-#{$i} {padding: $padding;}
    .padding-left-#{$i} {padding-left: $padding;}
    .padding-right-#{$i} {padding-right: $padding;}
    .padding-top-#{$i} {padding-top: $padding;}
    .padding-bottom-#{$i} {padding-bottom: $padding;}
    .padding-left-right-#{$i} {padding-left: $padding; padding-right: $padding;}
    .padding-top-bottom-#{$i} {padding-top: $padding; padding-bottom: $padding;}
  }
}
@include padding-classes;

.position-right {
    right: 0px;
}

.position-left {
    left: 0px;
}

@mixin dynamic-size-classes {
    @for $i from 1 through 100 {
        .is-width-#{$i}-vw {width: $i * 1vw;}
        .is-height-#{$i}-vh {height: $i * 1vh;}
        .is-width-#{$i}-percent {width: $i * 1%;}
        .is-height-#{$i}-percent {height: $i * 1%;}
    }
  }
@include dynamic-size-classes;

#page-container {
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-top: 50px;    /* Footer height */
    padding-bottom: 120px;    /* Footer height */
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #footer {
    width: 100%;
    height: 80px;            /* Footer height */
  }