$nav-height: 80px;
.heightOffset {
    height: $nav-height;
}

.navbar {
    position: relative;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    // box-shadow: 0 3px 7px 0 rgba(0,0,0,0.50);
}

.innerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.logo {
    display: flex;
    flex-direction: row;
    height: 100%;
    img {
        max-width: 80px;
        max-height: 35px;
        margin: 5px;
    }
}

.navLinks {
    display: flex;
    cursor: pointer;
    span {
        div {
            display: flex;
            align-items: center;
            padding: 0 0.625rem 0 0.625rem;
            transition: background-color 0.1s linear;
        }
        div:hover {
            background-color: white;
            color: black;
        }
    }
    // display: flex;
    // flex-direction: row;
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.expanded-navbar {
    @media (max-width: 1334px) {
        display:none;
    }
}

.burger-navbar {
    position: absolute;
    right: 5%;
    @media (min-width: 1334px) {
        display:none;
    }
}

.nav-open-list{
    margin-left: 5%;

    div {
        margin-top: 1%;
        margin-bottom: 1%;
    }
    height: 170px;
    -webkit-transition:height 200ms ease-in;
    -moz-transition:height 200ms ease-in;
    -o-transition:height 200ms ease-in;
    transition:height 200ms ease-in;
}

.nav-closed-list{
    margin-left: 5%;
    z-index: 999;
    div {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    overflow: hidden;
    height: 0;
    -webkit-transition:height 200ms ease-in;
    -moz-transition:height 200ms ease-in;
    -o-transition:height 200ms ease-in;
    transition:height 200ms ease-in;
}

.burger-navlinks{
    z-index: 999;
    border: none;
    border-bottom: 1px;
    border-color: black;
}

// font of this is actually system ui
.nav-dark-mode-toggle {
    margin: 0px;
    padding: 0px;
    background-size: 100%;
    border: none;
    font-size: 18px;
    display: inline-block;
    transition: all .2s ease-in-out;
    background-color: transparent;
}

.wideMenuParent { 
    right: 0px; 
    position: absolute; 
    display: flex; 
    margin-right: 5%;
    align-items: center;
}

