@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

// These fonts could replace the others and make the site look better
// @import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Karla font - change all back to lato if you decide you don't like karla anymore
// @import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");


// fix this import here
a {
    font-family: Karla;
    text-decoration: none;
}

p {
    font-family: Karla;
    color: #17171D;
    // font-size: 1.1em;
    font-size: 1.3em;
}
  
h1 {
    display: block;
    font-family: Karla;
    font-size: 3em;
    font-weight: 900;
    margin: 0em;
    margin-block-end: 0;
    margin-block-start: 0; 
}
  
h2 {
    display: block;
    font-family: Karla;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0em;
}
  
h3 {
    display: block;
    font-family: Karla;
    font-weight: 400;
    font-size: 1.17em;
    margin: 0em;
}
  
h4 {
    display: block;
    font-family: Karla;
    font-weight: 400;
    font-size: 1em;
    margin: 0;
}
  
h5 {
    display: block;
    font-family: Karla;
    font-size: 0.83em;
    margin: 0;
}
  
h6 {
    display: block;
    font-family: Karla;
    font-size: 0.67em;
    font-weight: bold;
    margin: 0;
}

// fixed up to here curious what it will look like tho lol
span {    
    font-family: Karla;
}

.footer-text {
    font-family: Karla;
    opacity: 0.7;
    line-height: 80px;
    color: #FFFFFF;
    margin: 0;
}

.greeting-text {
    font-family: Karla;
    font-size: 1.6em;
    margin-top: 10px;
}

.name-text {
    font-family: Karla;
    font-size: 25px;
}

.nav-link-text {
    font-family: Karla;
    font-size: 18px;
    line-height: 20px;
}

.hero-description-text {
    font-family: Karla;
    font-size: 20px;
}

.hero-tagline-text {
    font-family: Karla;
    font-size: 30px;
    line-height: 30px;
    margin-top: 10px;
}

.body-text {
    font-family: Karla;
    font-size: 19px;
    line-height: 34px;
}

.timeline-heading-size {
    font-size: 1.5em;
}