
// change this so that the dark mode colours are in a third column
$color-palette:  
("white",#FFFFFF, #17171D),
("very-light-grey", darken(#FFFFFF, 1.5%), darken(#17171D, 1.5%)),
("background-blue", #17171D, #FFFFFF),
("footer-blue", #17171D, #17171D),
("black",#000000, #000000),
("pumpkin-orange",rgb(252, 105, 100), rgb(252, 105, 100)),
("java-green", #2CA4A4, #2CA4A4),
("regal-blue", #182848, #182848),
("supernova-yellow", #FCB233, #FCB233),
("red-orange", #FD3D37, #FD3D37),
("deep-sky-blue", #1EB6FF, #1EB6FF),
("greeting-blue", #2CA4A4, #44bce3),
("dark-grey", #4A4A4A, #4A4A4A),
("light-grey", #7E7E7E, #7E7E7E),
("very-dark-grey", #222222, #222222),
("green", rgb(53, 203, 115), rgb(53, 203, 115)),
("matisse-blue", #385473, #385473);

@each $color in $color-palette {
  .is-#{nth($color,1)}-bg{
    background-color: nth($color,2);
  }
  .is-#{nth($color,1)}-text{
    color: nth($color,2);
  }

  .is-#{nth($color,1)}-text-fixed {
    color: nth($color,2);
  }

  .is-#{nth($color,1)}-bg-fixed {
    background-color: nth($color,2);
  }

  body.dark-mode {
    .is-#{nth($color,1)}-text {
      color: nth($color, 3);
    }

    .is-#{nth($color,1)}-bg {
      background-color: nth($color, 3);
    }

    .blog-text {
      p {
        color: white
      }
    }
  }

  .is-#{nth($color,1)}-border{
    border: 3px solid nth($color,2);
  }
}